{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Makerere Logo -->
  <a class="navbar-brand">
    <img src="{% static 'img/makerere-university-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Makerere University
  </a>

  <!-- Navbar Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- Generate Payslip -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'generate_payslip' %}">Generate Payslip</a>
      </li>
      <!-- Send Payslip -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'send_payslip' %}">Send Payslip</a>
      </li>
      <!-- Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <!-- Logout -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li><span>Welcome, {{ user.username }}!!</span></li>
    </ul>
    <!-- Search Form (if needed) -->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>